@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(134, 250, 225);
}

.botão {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(253, 2, 2);
    background-color: rgb(241, 143, 237);
    color: rgb(22, 4, 124);
    font-size: 16pt;
    font-weight: 800;
    text-align: center;
}

.botão2 {
    height: 40px;
    width: 80px;
    border-radius: 10%;
    border: 2px solid rgb(253, 2, 2);
    background-color: rgb(241, 143, 237);
    color: rgb(22, 4, 124);
    font-size: 16pt;
    font-weight: 800;
    text-align: center;
}

#counter {
    display: flex;
}

#contador {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 30pt;
}